click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
fastapi==0.61.2; python_version >= "3.6"
gunicorn==20.1.0; python_version >= "3.5"
h11==0.9.0
httptools==0.1.2; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
pydantic==1.8.2; python_full_version >= "3.6.1"
python-dotenv==0.14.0
python-json-logger==0.1.11; python_version >= "2.7"
starlette==0.13.6; python_version >= "3.6"
typer==0.3.2; python_version >= "3.6"
typing-extensions==3.10.0.0; python_full_version >= "3.6.1" and python_version >= "3.6"
uvicorn==0.11.8
uvloop==0.15.2; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
websockets==8.1; python_full_version >= "3.6.1"
